################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ToyDBServer/v16/Server/sqlite3
/.vs/ToyDBServer/v16/.suo
